# EAS build ignore
.git/
.github/
.vscode/

node_modules/
.expo/
dist/
web-build/

android/.gradle/
android/app/build/

ios/Pods/
ios/build/

*.keystore
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

.env
.env.*
api_keys.txt
secrets/

npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
